.bloc-footer{
    display :flex; 
    margin : 7%;
    gap: 200px;
    max-width: 150%;
    border-bottom: 3px solid white;
}
.bloc-footer img{
    width : 25%;
    padding-bottom : 15px; 
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.bloc-footer img:hover{
    transition: all 0.4s ease;
    width:30%;
    transform: scale(1.2);
}