.pieddepage{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 170px; /* Centrage horizontal */
    width: 15%;

}
.second-footer{
    display: flex;
}